
h1.login {
    text-align:  center;
    /*
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    padding-top: 20px;
    display:inline;
    */
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 500;
}

h2.login {
    text-align:  center;
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 250;
}


.contents {
    margin: 0.4em 7.0em;
    min-width: 300px;
    text-align: center;
    margin-bottom: 50px;
    line-height: 1.6em;
    padding: 3.0em 4.5em 0;
}

table, th, td { 
   border: 1px solid black;
}

.bodybox {
    margin: 0em 4em ;
}

.numbin {
    text-align: right;
}

.delete-button {
    visibility: hidden;
}


.rma-form {
    margin: 20px;
}

hr.menubar {
    border: 0;
    height: 2px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.download {
    float: right;
}

th {
    white-space: nowrap;
}

.sizecol {
    width: 2em;
    overflow: hidden;
} 

.mytitle {
    width: 100%;
    text-align: center;
}

/*
tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}

table {
    background-color: pink;
    bgcolor: pink;
}

tr {
    background-color: pink;
}
tr.rackrow:nth-child(3) { border: solid thin; }
tr.rackrow { border: solid thin; }
*/

table.racked { 
    border-collapse: collapse; 
    border: none;
    table-layout: fixed;
}

table.racked tbody tr {
   line-height: 1.2em;
}

table.racked tbody tr:nth-child(odd) {
   background-color: #ccc;
}


.rcell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    padding: 0;
}



.racktitle {
    text-align: center;
    font-weight: bold;
}

.cellok {
    width: 2em;
}

.rackwrap {
    float: left;
    min-height: 64em;
}

table.racked th {
    text-align: center;
}

.rackview {
    text-align: center;
    width: 95%;
    margin: auto;
}

.th-ru {
    width: 3em;
}

.rackheight0 {
    display: none;
}
.rackheight1 {
    height: 1.5em;
}
.rackheight2 {
    height: 3.0em;
}
.rackheight3 {
    height: 4.5em;
}
.rackheight4 {
    height: 6em;
}
.rackheight5 {
    height: 7.5em;
}
.rackheight6 {
    height: 9.0em;
}
.rackheight7 {
    height: 10.5em;
}
.rackheight8 {
    height: 12em;
}
.rackheight9 {
    height: 13.5em;
}
.rackheight10 {
    height: 15em;
}

.navbar-right {
    margin-right: 3em;
}

#homepage table {
    width: auto;
    margin: auto;
}

#homepage table {
    width: auto;
}

#homepage td:nth-child(2) {
    text-align: right;
}

#homepage td:nth-child(3) {
    text-align: right;
}

.badentry {
    background-color: red;
}

.spacebtn {
    margin: 2em 0em ;
}

.invalid_login {
    margin: 1em 0em;
    width: 60%;
    text-align: center;
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 200;
    font-size: 200%;
    color: red;
}

