{{define "head"}}<title>{{.Title}}</title>{{end}}
{{define "javascript"}}
$(document).ready(function() {
    $("th").css("background-color", "#eeeeee");
    $("tr:visible:even").css("background-color", "#ffffff");
    $("tr:visible:odd").css("background-color", "#eeeeee");
} );
{{end}}

{{define "body"}}
<h1 class="title">{{.Title}}</h1>
{{ $DC := .DC }}
<div class="outer">
{{ $prefix := .Common.Prefix }}
{{ range .Racks}}
<div class="rackdiv">
    <h2><a href="{{$.Common.Prefix}}/rack/edit/{{.ID}}">Rack {{.Label}}</a></h2>{{ $ID := .Label }}
    <h2>{{if gt (len .VendorID) 0}}({{.VendorID}}){{else}}&nbsp;{{end}}</h2>
    <table id="racklayout">
     <thead>
    <tr>
        <th>RU</th><th>Hostname</th><th>IPMI</th><th>Internal IP<th>
    </tr>
     </thead>
         {{/*if gt $i 1}}<th>{{.}}</th>{{ end }}{{end*/}}
     <tbody>
        {{ $RackLabel := .Label }}
        {{ $DC := .DC }}
         {{ range .RackUnits }}
         <tr class="rackheight{{.Height}}">
            <td>{{ if and (eq 0 .SID) (eq 0 .NID) }}<a href="{{$prefix}}/server/add/{{$DC}}/{{$RackLabel}}/{{.RU}}">{{.RU}}</a>{{else}}{{.RU}}{{ end }}</td>
            <td> {{ if gt .SID 0 }} <a href="{{$prefix}}/server/edit/{{.SID}}">{{.Hostname}} {{if .Alias}} ({{.Alias}}){{end}}</a> 
                {{ else if gt .NID 0 }} <a href="{{$prefix}}/network/edit/{{.NID}}">{{.Hostname}}</a> 
                {{ else }} {{.Hostname}} {{ end }} </td>
            <td>{{.IPMI}}</td>
            <td>{{.Internal}}</td>
        </tr>
        {{ end }}
     </tbody>
</table>
</div>
{{end}}
{{end}}

