{{define "head"}}<title>{{.Common.Title}}</title>{{end}}
{{define "javascript"}} {{end}}
{{define "body"}}
<div id="serverform" class="datacenter">
<form method="post" action="{{.Common.Prefix}}/dc/edit/{{.Datacenter.ID}}" class="common" id="dcform">
    <fieldset>
        <legend>General</legend>
        <div class="field">
            <label for="Name">Name</label>
            <input type="text" name="Name" value="{{.Datacenter.Name}}" pattern=".+" required/>
        </div>
        <div class="field">
            <label for="Name">Address</label>
            <input type="text" name="Address" value="{{.Datacenter.Address}}"/>
        </div>
        <div class="field">
            <label for="Name">City</label>
            <input type="text" name="City" value="{{.Datacenter.City}}"/>
        </div>
        <div class="field">
            <label for="Name">State</label>
            <input type="text" name="State" value="{{.Datacenter.State}}"/>
        </div>
        <div class="field">
            <label for="Name">Phone</label>
            <input type="text" name="Phone" value="{{.Datacenter.Phone}}"/>
        </div>
        <div class="field">
            <label for="Name">Web</label>
            <input type="text" name="Web" value="{{.Datacenter.Web}}"/>
        </div>
    </fieldset>

    <fieldset>
        <legend>Remote</legend>
        <div class="field">
        <label for="Name">DCMan</label>
        <input type="text" name="DCMan" value="{{.Datacenter.DCMan}}"/>
        </div>
        <div class="field">
            <label for="Name">PXE Host</label>
            <input type="text" name="PXEHost" value="{{.Datacenter.PXEHost}}"/>
        </div>
        <div class="field">
            <label for="Name">PXE User</label>
            <input type="text" name="PXEUser" value="{{.Datacenter.PXEUser}}"/>
        </div>
        <div class="field">
            <label for="Name">PXE Password</label>
            <input type="password" name="PXEPass" value="{{.Datacenter.PXEPass}}"/>
        </div>
        <div class="field">
            <label for="Name">PXE SSH Key</label>
            <input type="text" name="PXEKey" value="{{.Datacenter.PXEKey}}" size="50"/>
        </div>
    </fieldset>

<input type="hidden" name="ID" value="{{.Datacenter.ID}}">
<input type="button" value="Cancel"  onclick="javascript:window.history.go(-1)">
{{ if .Common.User.Editor }}
  {{ if eq .Datacenter.ID 0 }}
    <input type="submit" name="action" value="Add">
  {{ else }}
    <input type="submit" name="action" value="Update">
    {{ if eq .Datacenter.Count 0 }}
      <input type="submit" name="action" value="Delete">
    {{ end }}
  {{ end }}
{{ else }}
<div id="sorry">You must be logged in as an admin to modify this record</div>
{{ end }}
</form>
</div>
{{end}}

