{{define "head"}}<title>{{.Title}}</title>{{end}}
{{define "javascript"}}
$(document).ready(function() {
    $('#example').dataTable( {
        "iDisplayLength": 100
/*
        "columnDefs": [
                {
                    "targets": [ 0 ],
                    "visible": false,
                    "searchable": false
                }
            ] 
*/
    });
});
{{end}}



{{define "body"}}

<table id="example" class="display" >
     <thead>
    <tr>
        <th>Datacenter</th>
        <th>Hostname</th>
    </tr>
     </thead>
     <tbody>
         {{ range .Servers }}
        <tr>
            <td>{{ .DC }}</td>
            <td><a href="/dcman/server/edit/{{.ID}}">{{.Hostname}}</a></td> 
        </tr>
        {{ end }}
     </tbody>
</table>

{{end}}
