{{define "head"}}<title>{{.Title}}</title>{{end}}
{{define "javascript"}}
{{end}}
{{define "body"}}
<div class="vm">
<form method="post" id="vmform" class="common">
    <div class="errormsg">{{.ErrorMsg}}</div>
    <fieldset>
        <legend>Orphaned VM</legend>
        <label>DC<input type="text" name="DC" value="{{.VM.DC}}" readonly/></label><br/>
        <label>Server<input type="text" name="Server" value="{{.VM.Server}}"  pattern=".+" required/></label><br/>
        <label>Hostname<input type="text" name="Hostname" value="{{.VM.Hostname}}"  pattern=".+" required/></label><br/>
        <label>Profile<input type="text" name="Profile" value="{{.VM.Profile}}"/></label><br/>
        <label>Private IP<input type="text" name="Private" value="{{.VM.Private}}" pattern=".+" required/></label><br/>
        <label>Public IP<input type="text" name="Public" value="{{.VM.Public}}"/></label><br/>
        <label>VIP<input type="text" name="VIP" value="{{.VM.VIP}}"/></label><br/>
        <label class="twolines">Note<textarea cols="25" rows="2" name="Note">{{.VM.Note}}</textarea></label><br/>
    </fieldset>

<input type="button" value="Cancel"  onclick="javascript:window.history.go(-1)">
<input type="hidden" name="ID" value="{{.VM.ID}}">
{{if .User.Editor }}
<input type="submit" name="action" value="Update">
<input type="submit" name="action" value="Delete">
{{ else }}
<div id="sorry">You must be logged in as an admin to modify this record</div>
{{end}}
</form>
</div>
{{end}}

