{{define "head"}}<title>{{.Common.Title}}</title>{{end}}
{{define "javascript"}}
{{end}}
{{define "body"}}
<div id="partform">
    <form class="common" id="rma" name="rma" action="{{.Common.Prefix}}/rma/add/{{.Part.PID}}"/> </form>
    <form class="common" id="replace" name="replace" action="{{.Common.Prefix}}/part/replace/{{.Part.PID}}"/> </form>
<form method="post" class="common" id="servo">
    <fieldset>
        <legend>Part Edit</legend>
        <div class="field">
            <label for="Manufacturer">Manufacturer</label>
            <input type="text" name="Manufacturer" id="Manufacturer" value="{{.Part.Manufacturer.Name}}" readonly/>
        </div>
        <div class="field">
            <label for="PartNumber">Part Number</label>
            <input type="text" name="PartNumber" id="PartNumber" value="{{.Part.SKU.PartNumber}}" pattern=".+" required/>
        </div>
        <div class="field">
            <label for="Serial">Serial Number</label>
            <input type="text" name="Serial" id="Serial" value="{{.Part.Serial}}"/>
        </div>
        <div class="field">
            <label for="Description">Description</label>
             <input type="text" name="Description" value="{{.Part.SKU.Description}}" size="40"/>
        </div>
    </fieldset>

<input type="hidden" name="PID" value="{{.Part.PID}}">
<input type="hidden" name="KID" value="{{.Part.KID}}">
<input type="hidden" name="UID" value="{{.Common.User.ID}}">
<input type="button" value="Cancel"  onclick="javascript:window.history.go(-1)">
{{ if .Common.User.Editor }}
{{ if eq .Part.KID 0 }}
<input type="submit" name="action" value="Add">
{{ else }}
<input type="submit" name="action" value="Update">
<input type="submit" form="rma" value="RMA">
<input type="submit" form="replace" value="Replace">
{{ end }}
{{ else }}
<div id="sorry">You must be logged in as an admin to modify this record</div>
{{ end }}
</form>
</div>
{{end}}

