{{define "head"}}<title>{{.Common.Title}}</title>{{end}}
{{define "javascript"}}
{{end}}
{{define "body"}}
<div id="partform">
<form method="post" class="common" id="servo">
    <fieldset>
        <legend>Part Type</legend>
        <div class="field">
            <label for="Name">Type</label>
            <input type="text" name="Name" id="Name" value="{{.PartType.Name}}"/>
        </div>
    </fieldset>

<input type="hidden" name="TID" value="{{.PartType.TID}}">
<input type="hidden" name="UID" value="{{.Common.User.ID}}">
<input type="button" value="Cancel"  onclick="javascript:window.history.go(-1)">
{{ if .Common.User.Editor }}
{{ if eq .PartType.TID 0 }}
<input type="submit" name="action" value="Add">
{{ else }}
<input type="submit" name="action" value="Update">
<input type="submit" name="action" value="Delete">
{{ end }}
{{ else }}
<div id="sorry">You must be logged in as an admin to modify this record</div>
{{ end }}
</form>
</div>
{{end}}

