{{define "head"}}{{end}}
{{define "javascript"}}{{end}}
{{define "body"}}
<div class="userinfo">
    <form method="post">
    <fieldset>
        <legend>Reset Password</legend>
        <label>Old password <input type="password" name="old_password" value=""/></label><br/>
        <label>New password <input type="password" name="password" value=""/></label><br/>
    </fieldset>
    <button type="submit" name="submit" value="Submit">Update</button>
    <input type="hidden" name="uid" value="{{.User.ID}}"/>
    </form>
</div>
{{end}}
