{{define "head"}}<title>{{.Title}}</title>{{end}}
{{define "javascript"}}

var current_row;

var row_disable = function(i) {
    if (typeof i === 'undefined') {
        return
    }
   document.getElementById("asset_" + i).disabled = true;
   document.getElementById("height_" + i).disabled = true;
   document.getElementById("buttons_" + i).className = "hide_buttons";
}

var row_enable = function(i) {
    if (typeof i === 'undefined') {
        return
    }
   current_row = i;
   document.getElementById("asset_" + i).disabled = false;
   document.getElementById("height_" + i).disabled = false;
   document.getElementById("buttons_" + i).className = "show_buttons";
}

var moveto = function(e) {
  var bits = e.target.id.split("_");
  var ru = bits[bits.length - 1]
  row_disable(current_row);
  row_enable(ru);
}

var get_ips = function() {
    var ips = {};
    for (var i=50; i>0; i--) {
       var ru = $("#ru_" + i).text();
       var ip = $("#ip_" + i).text();
       if (ip.length > 0) {
          ips[ip]=ru;
       }
    }
    return ips;
}    

var get_ipmis = function() {
    var ips = {};
    for (var i=50; i>0; i--) {
       var ru = $("#ru_" + i).text();
       var ipmi = $("#ipmi_" + i).text();
       if (ipmi.length > 0) {
          ips[ipmi]=ru;
       }
    }
    return ips;
}    


var pings = function() {
    var ips = get_ips();
    var ipmis = get_ipmis();

    var iplist = [];
    for (var ip in ips) {
       iplist.push(ip);
    }
    for (var ip in ipmis) {
       iplist.push(ip);
    }

    $.ajax({
        type: "POST",
        url: "{{.Common.Prefix}}/api/pings?debug=false",
        data: {
          ips: iplist,
        },
        error: function(jqXHR, textStatus, errorThrown) {
          alert("IP Error: " + jqXHR.responseText)
        },
        success: function(data) {
           for (var k in data) {
                if (data.hasOwnProperty(k)) {
                    var ok = data[k] ? "ok" : "";
                    var ru = ips[k];
                    if (typeof ru !== 'undefined') {
                        $("#ip_ping_"+ru).text(ok);
                        continue;
                    } 
                    ru = ipmis[k];
                    if (typeof ru !== 'undefined') {
                        $("#ipmi_ping_"+ru).text(ok);
                    }
                }
            }
        }
    });
}


var do_delete = function(e) {
  var ru = e.target.id.substring(7); // trim "delete_"
  //alert("delete id: " + e.target.id);
  var hostname = $("#hostname_"+ru).text();
  if (confirm("Really delete " + hostname + "?")) {
    $.ajax({
      type: "POST",
      url: "{{.Common.Prefix}}/rack/updates",
      data: {
        action: "delete",
        rid: {{.Rack.ID}},
        ru: ru,
      },
      error: function(jqXHR, textStatus, errorThrown) {
        alert("Error: " + jqXHR.responseText)
        },
        success: function() {
           // e.target.parentNode.className = "rackheight0";
           $("#hostname_"+ru).text("");
           $("#ipmi_"+ru).text("");
           $("#ip_"+ru).text("");
           $("#ip_ping_"+ru).text("");
           $("#ipmi_ping_"+ru).text("");
        }
    });
  }
}

var do_update = function(e) {
    var ru = e.target.id.substring(7); // trim "update_"
    var asset = document.getElementById("asset_" + ru).value;
    var height = document.getElementById("height_" + ru).value;
    $.ajax({
      type: "POST",
      url: "{{.Common.Prefix}}/rack/updates",
      data: {
        action: "update",
        rid: {{.Rack.ID}},
        ru: ru,
        height: height,
        asset: asset
      },
      error: function(jqXHR, textStatus, errorThrown) {
        alert("Error: " + jqXHR.responseText)
      }
    });
}

var do_prev = function(e) {
  //alert("prev id: " + e.target.id);
   var ru = e.target.id.substring(5); // trim "prev_"
   // deactivate current row
   row_disable(ru);
   // find prev row
   ru++;
    for (var i=ru; i<50; i++) {
       var r = document.getElementById("ru_" + i);
       if (r && r.parentNode.className != "rackheight0") {
           row_enable(i);
           break;
       }
    }
}

var do_next = function(e) {
var ru = e.target.id.substring(5); // trim "next_"
   // deactivate current row
   row_disable(ru);
   // find next row
   ru--;
    for (var i=ru; i>0; i--) {
       var r = document.getElementById("ru_" + i);
       if (r && r.parentNode.className != "rackheight0") {
           row_enable(i);
           break;
       }
    }
}

var do_next_server = function(e) {
   var ru = e.target.id.substring(12); // trim "next_server_"
   // deactivate current row
   row_disable(ru);
   // find next row
   ru--;
    for (var i=ru; i>0; i--) {
       var r = document.getElementById("ru_" + i);
       if (r && r.parentNode.className != "rackheight0") {
           if ($("#hostname_"+i).text()) {
               row_enable(i);
               break;
           }
       }
    }
}

$(document).ready(function() {
    $("th").css("background-color", "#eeeeee");
    $("tr:visible:even").css("background-color", "#ffffff");
    $("tr:visible:odd").css("background-color", "#eeeeee");

    // find top of rack 
    for (var i=50; i>0; i--) {
       var ru = document.getElementById("ru_" + i);
       if (ru && ru.innerText.length > 0) {
           row_enable(i); 
           break;
       }
    }
    $(".b_delete").click(do_delete);
    $(".b_update").click(do_update);
    $(".b_prev").click(do_prev);
    $(".b_next").click(do_next);
    $(".b_next_server").click(do_next_server);
    $(".auditcell").click(moveto);
    pings();
} );
{{end}}

{{define "body"}}
<h1 class="title">{{.Title}}</h1>
<div class="rackdiv">
    <table id="racklayout">
     <thead>
    <tr>
        <th>RU</th><th>Height</th><th>Hostname</th><th>Asset Tag</th><th>IPMI</th><th>IPMI Online</th><th>Internal IP</th><th>IP Online</th><th>The Needful</th>
    </tr>
     </thead>
     <tbody>
         {{ range .Rack.RackUnits }}
         <tr class="rackheight{{.Height}}">
            <td id="ru_{{.RU}}" class="auditcell">{{.RU}}</td>
            <td class="auditcell"><input type="text" class="height_field" id="height_{{.RU}}" value="{{.Height}}" size="2" disabled></td>
            <td class="auditcell" id="hostname_{{.RU}}">{{.Hostname}}</td>
            <td class="auditcell"><input type="text" class="asset_field" id="asset_{{.RU}}" value="{{.AssetTag}}" size="10" disabled></td>
            <td class="auditcell" id="ipmi_{{.RU}}">{{.IPMI}}</td>
            <td class="auditcell pingok" id="ipmi_ping_{{.RU}}"></td>
            <td class="auditcell" id="ip_{{.RU}}">{{.Internal}}</td>
            <td class="auditcell pingok" id="ip_ping_{{.RU}}"></td>
            <td id="buttons_{{.RU}}" class="hide_buttons">
                <button class="b_delete" id="delete_{{.RU}}">Delete</button>
                <button class="b_update" id="update_{{.RU}}">Update</button>
                <button class="b_prev" id="prev_{{.RU}}">Prev</button>
                <button class="b_next" id="next_{{.RU}}">Next</button>
                &nbsp;
                <button class="b_prev_server" id="prev_server_{{.RU}}">Prev Server</button>
                <button class="b_next_server" id="next_server_{{.RU}}">Next Server</button>
            </td>
        </tr>
        {{ end }}
     </tbody>
</table>
</div>
{{end}}

