{{define "head"}}<title>{{.Title}}</title>{{end}}
{{define "javascript"}}

var current_row;

var row_disable = function(i) {
    if (typeof i === 'undefined') {
        return
    }
   document.getElementById("asset_" + i).disabled = true;
   document.getElementById("height_" + i).disabled = true;
   document.getElementById("sn_" + i).disabled = true;
   document.getElementById("note_" + i).disabled = true;
   document.getElementById("hostname_" + i).disabled = true;
   document.getElementById("buttons_" + i).className = "hide_buttons";
}

var row_enable = function(i) {
    if (typeof i === 'undefined') {
        return
    }
   current_row = i;
   document.getElementById("asset_" + i).disabled = false;
   document.getElementById("height_" + i).disabled = false;
   document.getElementById("sn_" + i).disabled = false;
   document.getElementById("note_" + i).disabled = false;
   document.getElementById("hostname_" + i).disabled = false;
   document.getElementById("buttons_" + i).className = "show_buttons";
}


var do_up = function(e) {
  var bits = e.target.id.split("_");
  var ru = bits[bits.length - 1];
  move_unit(ru, 1);
}

var do_down = function(e) {
  var bits = e.target.id.split("_");
  var ru = bits[bits.length - 1];
  move_unit(ru, -1);
}

var get_ips = function() {
    var ips = {};
    for (var i=50; i>0; i--) {
       var ru = $("#ru_" + i).text();
       var ip = $("#ip_" + i).text();
       if (ip.length > 0) {
          ips[ip]=ru;
       }
    }
    return ips;
}    

var get_ipmis = function() {
    var ips = {};
    for (var i=50; i>0; i--) {
       var ru = $("#ru_" + i).text();
       var ipmi = $("#ipmi_" + i).text();
       if (ipmi.length > 0) {
          ips[ipmi]=ru;
       }
    }
    return ips;
}    


var pings = function() {
    var ips = get_ips();
    var ipmis = get_ipmis();

    var iplist = [];
    for (var ip in ips) {
       iplist.push(ip);
    }
    for (var ip in ipmis) {
       iplist.push(ip);
    }

    $.ajax({
        type: "POST",
        url: "{{.Common.Prefix}}/api/pings?debug=false",
        data: {
          ips: iplist,
        },
        error: function(jqXHR, textStatus, errorThrown) {
          alert("IP Error: " + jqXHR.responseText)
        },
        success: function(data) {
           for (var k in data) {
                if (data.hasOwnProperty(k)) {
                    var ok = data[k] ? "ok" : "";
                    var ru = ips[k];
                    if (typeof ru !== 'undefined') {
                        $("#ip_ping_"+ru).text(ok);
                        continue;
                    } 
                    ru = ipmis[k];
                    if (typeof ru !== 'undefined') {
                        $("#ipmi_ping_"+ru).text(ok);
                    }
                }
            }
        }
    });
}


var do_delete = function(e) {
  var ru = e.target.id.substring(7); // trim "delete_"
  var hostname = $("#hostname_"+ru).text();
  if (confirm("Really delete " + hostname + "?")) {
    $.ajax({
      type: "POST",
      url: "{{.Common.Prefix}}/rack/updates",
      data: {
        action: "delete",
        rid: {{.Rack.ID}},
        ru: ru,
      },
      error: function(jqXHR, textStatus, errorThrown) {
        alert("Error: " + jqXHR.responseText)
        },
        success: function() {
           // e.target.parentNode.className = "rackheight0";
           $("#ipmi_"+ru).text("");
           $("#ip_"+ru).text("");
           $("#ip_ping_"+ru).text("");
           $("#ipmi_ping_"+ru).text("");
           $("#hostname_"+ru).val("");
           $("#asset_"+ru).val("");
           $("#sn_"+ru).val("");
           $("#note_"+ru).val("");
        }
    });
  }
}

var do_update = function(e) {
    var ru = e.target.id.substring(7); // trim "update_"
    var asset = document.getElementById("asset_" + ru).value;
    var sn = document.getElementById("sn_" + ru).value;
    var height = document.getElementById("height_" + ru).value;
    var hostname = document.getElementById("hostname_" + ru).value;
    var note = document.getElementById("note_" + ru).value;
    var sid = $("#sid_" + ru).text();
    var action = (sid > 0) ? "update" : "add";
    $.ajax({
      type: "POST",
      url: "{{.Common.Prefix}}/rack/updates",
      data: {
        action: action,
        rid: {{.Rack.ID}},
        ru: ru,
        height: height,
        hostname: hostname,
        sn: sn,
        note: note,
        asset: asset
      },
      error: function(jqXHR, textStatus, errorThrown) {
        alert("Error: " + jqXHR.responseText)
      }
    });
}

var adjust_up = function() {
    adjust(1);
}

var adjust_dn = function() {
    adjust(-1);
}

var adjust = function(amount) {
    $.ajax({
      type: "POST",
      url: "{{.Common.Prefix}}/rack/adjust",
      data: {
        adjust: amount,
        rid: {{.Rack.ID}}
      },
      error: function(jqXHR, textStatus, errorThrown) {
        alert("Error: " + jqXHR.responseText)
        },
      success: function() {
        location.reload(true);
      }
    });
}

var move_unit = function(ru, amount) {
    $.ajax({
      type: "POST",
      url: "{{.Common.Prefix}}/rack/move",
      data: {
        adjust: amount,
        ru: ru,
        rid: {{.Rack.ID}}
      },
      error: function(jqXHR, textStatus, errorThrown) {
        alert("Error: " + jqXHR.responseText)
        },
      success: function() {
        location.reload(true);
      }
    });
}


$(document).ready(function() {
    $("th").css("background-color", "#eeeeee");
    $("tr:visible:even").css("background-color", "#ffffff");
    $("tr:visible:odd").css("background-color", "#eeeeee");

    // find top of rack 
    for (var i=50; i>0; i--) {
       var ru = document.getElementById("ru_" + i);
       if (ru && ru.innerText.length > 0) {
           row_enable(i); 
           break;
       }
    }
    $(".b_delete").click(do_delete);
    $(".b_update").click(do_update);
    $(".b_up").click(do_up);
    $(".b_dn").click(do_down);
    $("#adjust_up").click(adjust_up);

    if ($("#sid_1").text() > 0) {
        $("#adjust_dn").prop("disabled",true);
    } else {
        $("#adjust_dn").click(adjust_dn);
    }
    $(".auditcell").click(function() {
        var ru = $(this).parent('tr').attr('id').split("_")[1];
        row_disable(current_row);
        row_enable(ru);
    });

    pings();
} );
{{end}}

{{define "body"}}
<h1 class="title">{{.Title}}</h1>
<div class="rackdiv">
    <table id="racklayout">
     <thead>
    <tr>
        <th>RU</th><th>Height</th><th>Hostname</th><th>Asset Tag</th><th>SN</th><th>IPMI</th><th>IPMI Online</th><th>Internal IP</th><th>IP Online</th><th>Note</th><th>The Needful</th>
    </tr>
     </thead>
     <tbody>
         {{ range .Rack.RackUnits }}
         <tr class="rackheight{{.Height}}" id="row_{{.RU}}">
            <td id="ru_{{.RU}}" class="auditcell">{{.RU}}</td>
            <td class="auditcell"><input type="text" class="height_field" id="height_{{.RU}}" value="{{.Height}}" size="2" disabled></td>
            <td class="auditcell"><input type="text" class="hostname_field" id="hostname_{{.RU}}" value="{{.Hostname}}"></td>
            <td class="auditcell"><input type="text" class="asset_field" id="asset_{{.RU}}" value="{{.AssetTag}}" size="10" disabled></td>
            <td class="auditcell"><input type="text" class="asset_field" id="sn_{{.RU}}" value="{{.SerialNo}}" size="15" disabled></td>
            <td class="auditcell" id="ipmi_{{.RU}}">{{.IPMI}}</td>
            <td class="auditcell pingok" id="ipmi_ping_{{.RU}}"></td>
            <td class="auditcell" id="ip_{{.RU}}">{{.Internal}}</td>
            <td class="auditcell pingok" id="ip_ping_{{.RU}}"></td>
            <td class="auditcell"><input type="text" class="asset_field" id="note_{{.RU}}" value="{{.Note}}" size="30"></td>
            <td id="buttons_{{.RU}}" class="hide_buttons">
                <button class="b_delete" id="delete_{{.RU}}">Delete</button>
                <button class="b_update" id="update_{{.RU}}">Update</button>
                <button class="b_up"     id="up_{{.RU}}">Move unit up</button>
                <button class="b_dn"     id="dn_{{.RU}}">Move unit down</button>
            </td>
            <td class="hidecell" id="sid_{{.RU}}">{{.SID}}</td>
        </tr>
        {{ end }}
     </tbody>
</table>
    <button class="adjust" id="adjust_up">Move all units up by 1</button>
    <button class="adjust" id="adjust_dn">Move all units down by 1</button>
</div>
{{end}}

