{{define "head"}}<title>{{.Common.Title}}</title>{{end}}
{{define "javascript"}}
var make_table = function(name) {
    return $('#' + name).DataTable( {
        "bInfo" : false,
        "bPaginate": false,
        "bLengthChange": false,
        "bFilter": false,
        "iDisplayLength": -1
        {{/*
        ,
        "order": [
            {{ range .Parts.Sorting }} [ {{.Column}}, "{{ if .Decend }}Desc{{ else }}Asc{{ end }}" ],
            {{ end }} ]
        ,
      "columnDefs": [
               {{ range $key, $value := .Parts.Types }} { type: '{{$key}}', targets: {{$value}} },
               {{ end }} ] 
               */}}
    });
};
$(document).ready(function() {

{{ if .Parts }}
{{ if .Parts.Rows  }}
    var table1 = make_table('{{.Parts.Name}}');
{{ end }}
{{ end }}
{{/*
*/}}
{{ if .Returns }}
{{ if .Returns.Rows }}
    var table2 = make_table('{{.Returns.Name}}');
{{ end }}
{{ end }}
});
{{end}}

{{define "body"}}
<form method="GET" action="{{.Common.Prefix}}/rma/received/{{.RMA.ID}}" id="received">
</form>
<div id="serverform" class="server">
<form method="post" class="common" id="servo">
    <fieldset>
        <legend>RMA</legend>
        <div class="field">
            <label for="DC">Datacenter</label>
            <input type="text" name="DC" id="DC" value="{{.RMA.DC}}" readonly/>
        </div>
        <div class="field">
            <label for="VID">Vendor</label>
            <select name="VID" id="VID">
                {{ range .Vendors }}<option value="{{.VID}}" {{if eq .VID $.RMA.VID}}selected{{end}}>{{.Name}}</option>
                {{ end }}
            </select>
        </div>
        <div class="field">
            <label for="Number">RMA Number</label>
            <input type="text" name="Number" id="Number" value="{{.RMA.Number}}"/>
        </div>
        <div class="field">
            <label for="Jira">Jira Number</label>
            <input type="text" name="Jira" id="Jira" value="{{.RMA.Jira}}"/>
        </div>
        <div class="field">
            <label for="DCTicket">Datacenter Ticket</label>
            <input type="text" name="DCTicket" id="DCTicket" value="{{.RMA.DCTicket}}"/>
        </div>
        {{ if .Part.PID }}
        <div class="field">
            <label for="PartNumber">Part Number</label>
            <input type="text" name="PartNumber" id="PartNumber" value="{{.Part.PartNumber }}"/>
        </div>
        <div class="field">
            <label for="Serial">Serial Number</label>
            <input type="text" name="Serial" id="Serial" value="{{.Part.Serial }}"/>
        </div>
        {{ end }}
        <div class="field">
            <label for="Opened">Opened</label>
            <input type="text" name="Opened" id="Opened" value="{{.RMA.Opened | fixDate}}"/>
        </div>
        <div class="field">
            <label for="Closed">Closed</label>
            <input type="text" name="Closed" id="Closed" value="{{.RMA.Closed | fixDate}}"/>
        </div>
        <div class="field">
            <label for="Note">Note</label>
            <textarea cols="35" rows="3" id="Note" name="Note">{{.RMA.Note}}</textarea>
        </div>

<input type="hidden" name="ID"  value="{{.RMA.ID}}">
<input type="hidden" name="DID"  value="{{.RMA.DID}}">
<input type="hidden" name="UID" value="{{.Common.User.ID}}">
{{ if .Part.PID }}
<input type="hidden" name="PID" value="{{.Part.PID}}">
{{ end }}
<input type="button" value="Cancel"  onclick="javascript:window.history.go(-1)">
{{ if .Common.User.Editor }}
{{ if eq .RMA.ID 0 }}
<input type="submit" name="action" value="Add">
{{ else }}
<input type="submit" name="action" value="Update">
<input type="submit" name="action" value="Delete">
{{ end }}
{{ else }}
<div id="sorry">You must be logged in as an admin to modify this record</div>
{{ end }}
    </fieldset>

{{ if .RMA.ID }}
    <fieldset>
{{ if .Parts }}
        <legend>Parts</legend>
    {{ template "tablelinks" .Parts }}
{{ end }}
    <input type="submit" name="recbut" form="received" value="Receive Parts">
    </fieldset>
{{ end }}

</form>

{{ if gt .RMA.ID 0 }}
<form method="post" class="common" id="rma_returns">
    <fieldset>
        <legend>Returns</legend>
{{ if and .Returns .Returns.Rows }}
    {{ template "tablelinks" .Returns }}
{{ end }}
<input type="submit" name="action" value="Add">
    </fieldset>
</form>
{{ end }}


</div>
{{end}}

