{{define "head"}}<title>{{.Common.Title}}</title>{{end}}
{{define "javascript"}}
$(document).ready(function() {
$('#rackunit').change(function() {
    window.location.assign("/"+$(this).val()+"/add/{{.DC}}/{{.Router.Rack}}/{{.Router.RU}}")
    })
});
{{end}}
{{define "body"}}
<div id="netform" class="server">
{{ if eq .Router.ID 0 }}
<div id="rutype">
<select id="rackunit">
    <option value="server" >Server</option>
    <option value="network" selected>Network Device</option>
</select>
</div>
{{ end }}
<form method="post" class="common">
    <fieldset>
        <legend>General</legend>
        <div class="field">
        <label for="Hostname">Hostname</label>
        <input type="text" name="Hostname" value="{{.Router.Hostname}}"/>
        </div>
        <div class="field">
        <label for="Hostname">Make</label>
        <input type="text" name="Make" value="{{.Router.Make}}"/>
        </div>
        <div class="field">
        <label for="Hostname">Model</label>
        <input type="text" name="Model" value="{{.Router.Model}}"/>
        </div>
        <div class="field">
        <label for="Hostname">Datacenter</label>
        <input type="text" name="DC" value="{{.DC}}" readonly/>
        </div>
        <div class="field">
        <label for="Hostname">Rack Number</label>
        <input type="text" name="Rack" value="{{.Router.Rack}}"/>
        </div>
        <div class="field">
        <label for="Hostname">Rack Unit</label>
        <input type="text" name="RU" value="{{.Router.RU}}"/>
        </div>
        <div class="field">
        <label for="Hostname">Unit Height</label>
        <input type="text" name="Height" value="{{.Router.Height}}"/>
        </div>
        <div class="field">
        <label for="Hostname">Asset Tag</label>
        <input type="text" name="AssetTag" value="{{.Router.AssetTag}}"/>
        </div>
        <div class="field">
        <label for="Hostname">Serial Number</label>
        <input type="text" name="SerialNo" value="{{.Router.SerialNo}}"/>
        </div>
        <div class="field">
        <label for="Hostname">Part Number</label>
        <input type="text" name="PartNo" value="{{.Router.PartNo}}"/>
        </div>
        <div class="field">
        <label class="twolines" for="Hostname">Note</label>
        <textarea cols="25" rows="2" name="Note">{{.Router.Note}}</textarea>
        </div>
    </fieldset>

    <fieldset>
        <legend>Management Port</legend>
        <div class="field">
        <label for="MgmtIP">IP</label>
        <input type="text" name="MgmtIP" value="{{.Router.MgmtIP}}"/></label><br/>
        </div>
    </fieldset>

{{ if gt .Router.ID 0 }}
    <fieldset>
        <a href="{{.Common.Prefix}}/network/audit/{{ .Router.ID }}">Change History</a>
    </fieldset>
{{end}}

<input type="hidden" name="ID" value="{{.Router.ID}}">
<input type="hidden" name="RID" value="{{.Router.RID}}">
<input type="hidden" name="UID" value="{{.Common.User.ID}}">
<input type="button" value="Cancel"  onclick="javascript:window.history.go(-1)">
{{ if .Common.User.Editor }}
{{ if eq .Router.ID 0 }}
<input type="submit" value="Add">
{{ else }}
<input type="submit" name="action" value="Update">
<input type="submit" name="action" value="Delete">
{{ end }}
{{ end }}
</form>
</div>
{{end}}

