{{define "head"}}<title>{{.Common.Title}}</title>{{end}}
{{define "javascript"}}

var discover_mac = function(amount) {
    $.ajax({
      type: "GET",
      url: "{{.Common.Prefix}}/data/server/discover/{{.Server.IPIpmi}}",
      dataType: "json",
      error: function(jqXHR, textStatus, errorThrown) {
        alert("Error: " + jqXHR.responseText)
        },
      success: function(data, textStatus, jqXHR) {
         //alert("GOT:" + data);
         $("#MacPort0").val(data.MacEth0);
      }
    });
    return false;
}

{{ if .Common.PXEBoot }}
var reimage_server = function() {
    var jira = prompt("Jira ticket #");
    if (jira == null) {
        return false;
    }
    if (jira.length == 0) {
        alert("You must enter a Jira ticket assigned to you");
        return false;
    }
    $.ajax({
      type: "POST",
      url: "{{.Common.Prefix}}/server/reimage",
      dataType: "text",
      data: {
          SID: {{.Server.ID}},
          Jira: jira,
          Menu: "autoimage"
      },
      error: function(jqXHR, textStatus, errorThrown) {
        alert("Error: " + jqXHR.responseText)
        },
      success: function(data, textStatus, jqXHR) {
         //alert("GOT:" + data);
         alert("Server should now be imaging");
      }
    });
    return false;
}
{{ end }}

var rma_server = function() {
    var url = "{{.Common.Prefix}}/rma/?SID={{.Server.ID}}";
    window.location.replace(url);
    return false;
}

$(document).ready(function() {
    $('#rackunit').change(function() {
        window.location.assign("/"+$(this).val()+"/add/{{.Server.DC}}/{{.Server.Rack}}/{{.Server.RU}}")
    });

    $('#ipselector').change(function() {
        $("#vlanip").val(this.value);
    })

    if ($("#vlanip").val().length == 0) {
        $("#vlanip").val($('#ipselector').val());
    }

   $("#b_discover").click(discover_mac);

{{ if .Common.User.Editor }}
{{ if ne .Server.ID 0 }}
   $("#b_reimage").click(reimage_server);
   $("#b_rma").click(rma_server);
{{ end }}
{{ end }}

    // because safari doesn't support the pattern/required HTML5 feature
   $('#servo').on('submit', function(e){
      //e.preventDefault();
      var hostname = $("input[name=Hostname]").val();
      if (hostname.length == 0) {
          alert("Hostname cannot be blank");
          e.preventDefault();
      } else {
          this.submit()
     }
   });

});



{{end}}
{{define "body"}}
<div id="serverform" class="server">
{{ if eq .Server.ID 0 }}
<div id="rutype">
<select id="rackunit">
    <option value="server" selected>Server</option>
    <option value="network">Network Device</option>
</select>
</div>
{{ end }}
<form method="post" action="{{.Common.Prefix}}/server/edit/{{.Server.ID}}" class="common" id="servo">
    <fieldset>
        <legend>General</legend>
        <div class="field">
            <label for="Hostname">Hostname</label>
            <input type="text" name="Hostname" id="Hostname" value="{{.Server.Hostname}}" pattern=".+" required/>
        </div>
        <div class="field">
            <label for="Alias">Alias</label>
            <input type="text" name="Alias" id="Alias" value="{{.Server.Alias}}"/>
        </div>
        <div class="field">
            <label for="DC">Datacenter</label>
            <input type="text" name="DC" id="DC" value="{{.Server.DC}}" readonly/>
        </div>
        <div class="field">
            <label for="Rack"><a href="{{.Common.Prefix}}/rack/view/{{.Server.DC}}/{{.Server.Rack}}">Rack Number</a></label>
            <input type="text" name="Rack" id="Rack" value="{{.Server.Rack}}"/>
        </div>
        <div class="field">
            <label for="RU">Rack Unit</label>
            <input type="text" name="RU" id="RU" value="{{.Server.RU}}"/>
        </div>
        <div class="field">
            <label for="Height">Unit Height</label>
            <input type="text" name="Height" id="Height" value="{{.Server.Height}}"/>
        </div>
        <div class="field">
            <label for="Profile">Profile</label>
            <input type="text" name="Profile" id="Profile" value="{{.Server.Profile}}"/>
        </div>
        <div class="field">
            <label for="AssetTag">Asset Tag</label>
            <input type="text" name="AssetTag" id="AssetTag" value="{{.Server.AssetTag}}"/>
        </div>
        <div class="field">
            <label for="SerialNo">Serial Number</label>
            <input type="text" name="SerialNo" id="SerialNo" value="{{.Server.SerialNo}}"/>
        </div>
        <div class="field">
            <label for="PartNo">Part Number</label>
            <input type="text" name="PartNo" id="PartNo" value="{{.Server.PartNo}}"/>
        </div>
        <div class="field">
            <label for="Assigned">Assigned</label>
            <input type="text" name="Assigned" id="Assigned" value="{{.Server.Assigned}}"/>
        </div>
        <div class="field">
            <label for="Note">Note</label>
            <textarea cols="35" rows="3" name="Note" id="Note">{{.Server.Note}}</textarea>
        </div>
{{ if .Common.User.Editor }}
{{ if ne .Server.ID 0 }}
<div class="fullway">
<div class="halfway">
    {{/*
    <label class="button_label" for="b_rma">RMA</label>
    */}}
    <button id="b_rma">RMA</button>
</div>
<div class="halfway">
    {{ if .Common.PXEBoot }}
    {{/*
    <label class="button_label" for="b_reimage">Reimage</label>
    */}}
    <button id="b_reimage">Reimage</button>
    {{ end }}
</div>
</div>
{{ end }}
{{ end }}
    </fieldset>

    <fieldset>
        <legend>IPMI</legend>
        <div class="field">
            <label for="IPIpmi">IP</label>
            <input type="text" name="IPIpmi" id="IPIpmi"
                value="{{ if eq 0 (len .Server.IPIpmi)}}{{index .IPs "32"}}{{else}}{{.Server.IPIpmi}}{{end}}"/>
        </div>
        <div class="field">
            <label for="MacIPMI">MAC</label>
            <input type="text" name="MacIPMI" value="{{.Server.MacIPMI}}"/>
        </div>
    </fieldset>

    <fieldset>
        <legend>Network IP</legend>
        {{ if ne 0 (len .IPs) }}
        <div class="field">
            <label for="ipselector">VLAN</label>
            <select id="ipselector">
                {{ range $k,$v := .IPs }}
                <option value="{{$v}}">{{$k}}</option>
                {{ end }}
            </select>
        </div>
        {{ end }}
        <div class="field">
        {{ if .Server.IPInternal }}
        <label for="vlanip" title="{{.Server.InternalVLAN}}">Internal IP</label>
        <input type="text" id="vlanip" name="IPInternal" value="{{.Server.IPInternal}}"/>
        {{ else }}
        <label for="vlanip"> Internal IP</label>
        <input type="text" id="vlanip" name="IPInternal" value="{{.Server.IPInternal}}"/>
        {{ end }}
        </div>
        <div class="field">
            <label for="MacPort0">Eth0 MAC</label>
            <input type="text" name="MacPort0" id="MacPort0" value="{{.Server.MacPort0}}"/>
            {{ if not .Server.MacPort0 }}<button id="b_discover">Discover</button>{{ end }}
        </div>
        <div class="field">
            <label for="MacPort1">Eth1 MAC</label>
            <input type="text" name="MacPort1" id="MacPort1" value="{{.Server.MacPort1}}"/>
        </div>
        <div class="field">
            <label for="publicip">Public IP</label>
            <input type="text" id="publicip" name="IPPublic" value="{{.Server.IPPublic}}"/>
        </div>
    </fieldset>

    <fieldset>
        <legend>Switch Ports</legend>
        <div class="field">
            <label for="PortIpmi">IPMI</label>
            <input type="text" name="PortIpmi" id="PortIpmi" value="{{.Server.PortIpmi}}"/>
        </div>
        <div class="field">
            <label for="PortEth0">Eth0</label>
            <input type="text" name="PortEth0" id="PortEth0" value="{{.Server.PortEth0}}"/>
        </div>
        <div class="field">
            <label for="PortEth1">Eth1</label>
            <input type="text" name="PortEth1" id="PortEth1" value="{{.Server.PortEth1}}"/>
        </div>
    </fieldset>

    <fieldset>
        <legend>Cables</legend>
        <div class="field">
            <label for="CableIpmi">IPMI</label>
            <input type="text" name="CableIpmi" id="CableIpmi" value="{{.Server.CableIpmi}}"/>
        </div>
        <div class="field">
            <label for="CableEth0">Eth0</label>
            <input type="text" name="CableEth0" id="CableEth0" value="{{.Server.CableEth0}}"/>
        </div>
        <div class="field">
            <label for="CableEth1">Eth1</label>
            <input type="text" name="CableEth1" id="CableEth1" value="{{.Server.CableEth1}}"/>
        </div>
    </fieldset>

{{ if gt .Server.ID 0 }}
    <fieldset>
        <a href="{{.Common.Prefix}}/server/audit/{{ .Server.ID }}">Change History</a>
    </fieldset>
{{end}}
<input type="hidden" name="ID" value="{{.Server.ID}}">
<input type="hidden" name="RID" value="{{.Server.RID}}">
<input type="hidden" name="UID" value="{{.Common.User.ID}}">
<input type="hidden" name="OriginalRack" value="{{.Server.Rack}}"/>
<input type="button" value="Cancel"  onclick="javascript:window.history.go(-1)">
{{ if .Common.User.Editor }}
{{ if eq .Server.ID 0 }}
<input type="submit" name="action" value="Add">
{{ else }}
<input type="submit" name="action" value="Update">
<input type="submit" name="action" value="Delete">
{{ end }}
{{ else }}
<div id="sorry">You must be logged in as an admin to modify this record</div>
{{ end }}
</form>
</div>
{{ if gt .Server.ID 0 }}
<div class="vms">
    <fieldset>
        <legend>VMs</legend>
    <div>
    {{ range .Server.VMs }}
    <div class="vmrow"><a href="{{$.Common.Prefix}}/vm/edit/{{ .ID }}">{{ .Hostname }}</a> {{.Private}} {{if .Public }}({{.Public}}){{end}}</div>
    {{ end }}
    </div>
    {{ if .Common.User.Editor }}
    <form action="{{.Common.Prefix}}/vm/add/{{.Server.ID}}">
        <input type="submit" value="Add VM">
    </form>
    {{end}}
    </fieldset>
</div>
{{end}}
{{end}}

