{{define "head"}}<title>{{.Title}}</title>{{end}}
{{define "javascript"}}
$(document).ready(function() {
   $("#upload").click(function() {
    var payload = {
        data: $('#data').val()
    };
    $.ajax({
          type: "POST",
          url: "/data/upload",
          data: payload,
          error: function(jqXHR, textStatus, errorThrown) {
            alert("Error: " + jqXHR.responseText)
          },
          //success: function(){ 
          success: function(jqXHR, textStatus, errorThrown) {
           //document.location.reload(); 
            alert("Status:" + textStatus);
          }
      });
   });
});
{{end}}

{{define "body"}}
<div class="centered upload">
<h1 class="title">{{.Title}}</h1>
<h2>Copy/paste from spreadsheet (or paste tab-delimited data)<br><br>
    The first line must be a header with column names<br>Column names must match expected format<br>
    Column order does not matter<br><br>
    Empty or invalid input will show valid column names
</h2>
<div class="centered">
<form>
    <textarea name="data" id="data" rows="20" cols="100"></textarea>
    <input type="button" id="upload" value="Upload">
</form>
</div>
</div>
{{end}}

