{{define "head"}}{{end}}
{{define "javascript"}}{{end}}
{{define "body"}}
<div class="userinfo">
    <form method="post">
    <fieldset>
        <legend>{{if gt .EditUser.ID 0}}Edit{{else}}Add{{end}} user</legend>
        <label>Login <input type="text" name="Login" value="{{.EditUser.Login}}" pattern=".+" required/></label><br/>
        <label>First Name <input type="text" name="First" value="{{.EditUser.First}}"/></label><br/>
        <label>Last Name <input type="text" name="Last" value="{{.EditUser.Last}}"/></label><br/>
        <label>Email <input type="email" name="Email" value="{{.EditUser.Email}}" required /></label><br/>
        <label>Access
            {{ if .User.Admin }}
            <select name="Level">
                {{range .Levels}}
                <option value="{{.ID}}" {{if eq .ID $.EditUser.Level}}selected{{end}}>{{.Name}}</option>
                {{end}}
            </select>
            {{ else }}
            <input type="text" name="Level" value="{{.EditUser.Access}}" readonly />
            {{ end }}
            </label><br/>
    </fieldset>
    {{ if .User.Admin }}
    <button type="submit" name="submit" value="Submit">{{if gt .EditUser.ID 0}}Update{{else}}Add{{end}}</button>
    <input type="hidden" name="ID" value="{{.EditUser.ID}}"/>
    {{ end }}
    </form>
</div>
{{end}}
