{{define "head"}}<title>{{.Common.Title}}</title>{{end}}
{{define "javascript"}}
{{end}}
{{define "body"}}
<div class="vm">
<form method="post" id="vmform" class="common">
    <fieldset>
        <legend>VM</legend>
        <div class="field">
            <label for="Server">Server</label>
            <a href="{{.Common.Prefix}}/server/edit/{{.VM.SID}}">{{.VM.Server.Hostname}}</a>
        </div>
        <div class="field">
            <label for="Hostname">Hostname</label>
            <input type="text" name="Hostname" value="{{.VM.Hostname}}"  pattern=".+" required/>
        </div>
        <div class="field">
            <label for="Profile">Profile</label>
            <input type="text" name="Profile" value="{{.VM.Profile}}"/>
        </div>
        <div class="field">
            <label for="Private">Private IP</label>
            <input type="text" name="Private" value="{{.VM.Private}}" pattern=".+" required/>
        </div>
        <div class="field">
            <label for="Public">Public IP</label>
            <input type="text" name="Public" value="{{.VM.Public}}"/>
        </div>
        <div class="field">
            <label for="VIP">VIP</label>
            <input type="text" name="VIP" value="{{.VM.VIP}}"/>
        </div>
        <div class="field">
            <label class="twolines" for="Note">Note</label>
            <textarea cols="25" rows="2" name="Note">{{.VM.Note}}</textarea>
        </div>
    </fieldset>
{{ if gt .VM.ID 0 }}
    <fieldset>
        <a href="{{.Common.Prefix}}/vm/audit/{{ .VM.ID }}">Change History</a>
    </fieldset>
{{end}}

<input type="hidden" name="ID" value="{{.VM.ID}}">
<input type="hidden" name="SID" value="{{.VM.SID}}">
<input type="button" value="Cancel"  onclick="javascript:window.history.go(-1)">
{{ if .Common.User.Editor }}
{{if eq .VM.ID 0}}
<input type="submit" name="action" value="Add">
{{else}}
<input type="submit" name="action" value="Update">
<input type="submit" name="action" value="Delete">
{{end}}
{{ else }}
<div id="sorry">You must be logged in as an admin to modify this record</div>
{{end}}
</form>
</div>
{{end}}

